<div class="container">
    <div class="details">
      <app-title title="Register Credit Card" style="font-weight: bolder"></app-title>
      <form>
        <h3>
          Card number:
        </h3>
        <text-input
          label="Number"
          >
        </text-input>
  
        <h3>
          Expiration:
        </h3>
        <text-input
          label="Expiration"
          type="text">
        </text-input>
  
  
        <h3>
          Security code/CVV2:
        </h3>
        <text-input
          label="Security code"
          type="text">
        </text-input>
  

        <h3>
          Cardholder:
        </h3>
        <text-input
          label="Cardholder"
          type="text">
        </text-input>

  
        <div class="register">
          <button class="btn-register">Register</button>
          <button class="btn-cancel">Cancel</button>
        </div>
      </form>
    </div>
  </div>
  