<div class="listcard">
    <form class="custom-form" method="post">
      <h1>List Credit Card</h1>
      <h4>Card number:</h4>
      <input
        #cardnumber
        type="number"
        name="number"
        required="required"
      />
      <h4>Expiration:</h4>
      <input
        #expiration
        type="text"
        name="expiration"
        required="required"
      />
      <h4>Security code/CVV2:</h4>
      <input
        #cvv2
        type="text"
        name="CVV2"
        required="required"
      />
      <h4>Cardholder:</h4>
      <input
        #cardholder
        type="text"
        name="cardholder"
        required="required"
      />
      <a routerLink="/list-card">
        <button type="submit" >Save</button>
      </a>
      <br>
      <a routerLink="/list-card">
        Cancelar
      </a>
    </form>
</div>