ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}

li a:hover{
    opacity: 0.9;
    cursor: pointer;
}
.container{
    padding: .5rem 1rem;
    position: relative;
}
.product-item-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.price{
    color: black;
    margin-top: .2rem;
}
button{
    color: aliceblue;
    background-color: #e72929;
    border: none;
    font-size: 1.2rem;
    padding: 1rem;
    border-radius: 10rem;
}
.food-card {
  max-width: 290px;
  margin-bottom: 15px;
  margin-right: 15px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

a:link, a:visited,  a:hover, a:active
{
    text-decoration: none;
}

button:hover {
    opacity: 0.7;
}
