<!DOCTYPE html>
<body>
    <BR>
        <h1 >
            SALES REPORT
        </h1>
        <br>
        <br>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr class="text-center">
                        <th>ID</th>
                        <th>NANE</th>
                        <th>DESCRIPTION</th>
                        <th>COST</th>
                        <th>ID_BUSSINES</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let ad of dishs; let i = index" class="text-center">
                        <td>{{ad.id_dish}}</td>
                        <td>{{ad.name}}</td>
                        <td>{{ad.description}}</td>
                        <td>{{ad.cost}}</td>
                        <td>{{ad.business_id_business}}</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>

</body>
