<!DOCTYPE html>
<body>
    <BR>
        <h1 >
            DELIVERY LIST
        </h1>
        <br>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr class="text-center">
                        <th>ID_ORDER</th>
                        <th>TOTAL</th>
                        <th>PAYMENT STATUS</th>
                        <th>OPCIONS</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-center">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <a href="/payment-confirmation">
                                <button class="btn-done">
                                    <span class="material-icons">
                                        done
                                    </span>
                                </button>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        
</body>
