<div class="login">
    <form class="custom-form" method="post">
      <h1>Registrar dirección</h1>
      <!-- ********
      <input
        type="nick"
        name="nick"
        placeholder="Nick"
        required="required"
      />
      -->
      <input
        type="street"
        name="street"
        placeholder="Street"
        required="required"
      />
      <input
        type="zone"
        name="zone"
        placeholder="Zone"
        required="required"
      />
      <input
        type="number"
        name="h_number"
        placeholder="House number"
        required="required"
      />

      <input
        type="city"
        name="city"
        placeholder="City"
        required="required"
      />
      <a routerLink="">
        <button type="submit"  (click)="saveAddress()">Register</button>
      </a>
      <br>
      <a routerLink="/map">
        Cancelar
      </a>
    </form>
  </div>
