<div class="map">
    <form class="custom-form" method="post">
      <h1>Register</h1>
      <!-- ********
      <input
        type="nick"
        name="nick"
        placeholder="Nick"
        required="required"
      />
      -->
      <input
        name="street"[(ngModel)]="address.street"
        type="street"
        name="street"
        placeholder="Street"
        required="required"
      />
      <input

        name="zone"[(ngModel)]="address.zone"
        type="zone"
        name="zone"
        placeholder="Zone"
        required="required"
      />
      <input

        name="h_number"[(ngModel)]="address.h_number"
        type="number"

        placeholder="House number"
        required="required"
      />
      <input

        name="city"[(ngModel)]="address.city"
        type="city"
        name="city"
        placeholder="City"
        required="required"
      />
      <input
        name="reference"
        type="reference"
        name="reference"
        placeholder="Reference"
        required="required"
      />
      <a routerLink="/add-nick">
        <button type="submit"  (click)="saveAddress()">Register</button>
      </a>
      <br>
      <a routerLink="/map">
        Cancelar
      </a>
    </form>
  </div>
