<div class="login">
    <form class="custom-form" method="post">
      <h1>Registrar dirección</h1>
      <input
        type="street"
        name="street"
        placeholder="Street"
        required="required"
      />
      <input
        type="zone"
        name="zone"
        placeholder="Zone"
        required="required"
      />
      <input
        type="h_number"
        name="h_number"
        placeholder="House number"
        required="required"
      />
      
      <input
        type="city"
        name="city"
        placeholder="City"
        required="required"
      />
      <a routerLink=""> 
        <button type="submit">Register</button>
      </a>
      <br>
      <a routerLink="/map"> 
        Cancelar
      </a>
    </form>
  </div>
