<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<mat-card class="register-card">
    <mat-card-content>
      <div class="header">
        <P  class="title">
            USER PROFILE 
        </P>
      </div>
      <br>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field class="full-width" appearance="outline" style="font-weight: bolder;">
            First Name
            <h4>Juan</h4>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="full-width" appearance="outline" style="font-weight: bolder;">
            Last Name
            <h4>Perez</h4>
          </mat-form-field>
        </div>
        <div class="col-md-6">
            <table class="table table-hover">
                <td>
                    <mat-form-field class="full-width" appearance="outline" style="font-weight: bolder;">
                        Password
                        <h4>************</h4>
                    </mat-form-field>
                </td>
                <td>
                    <button class="btn-warning">
                        <span class="material-icons">
                            edit
                        </span>
                    </button>
                </td>
            </table>
        </div>
        <div class="col-md-6">
            <mat-form-field class="full-width" appearance="outline" style="font-weight: bolder;">
             E-mail
             <h4>juanperez@gmail.com</h4>
            </mat-form-field>
          </div>
        <div class="col-md-6">
          <mat-form-field class="full-width" appearance="outline" style="font-weight: bolder;">
           Phone Number
           <h4>+591 66453688</h4>
          </mat-form-field>
        </div>
        
        <div class="col-md-6">
          <mat-form-field appearance="outline" class="full-width" style="font-weight: bolder;">
          User Type
          <h4>Client</h4>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-flat-button class="buttonEdit">Edit</button>
    </mat-card-actions>
</mat-card>