<!DOCTYPE html>
<BR>
<h1 >
    LIST OF ADDRESSES
</h1>
<br>
<div class="container">
    <button class="addbtn">New address</button>
</div>
<br>
<br>
<div class="card-body">
    <table class="table table-hover">
        <thead>
            <tr class="text-center">
                <th>ID</th>
                <th>NICK</th>
                <th>STREET</th>
                <th>ZONE</th>
                <th>NUMBER</th>
                <th>CITY</th>
            </tr>
        </thead>
        <tbody>
            <tr class="text-center">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <button class="btn-warning">Edit</button>
                    <br>
                    <button class="btn-danger" style="margin-left:10px ;">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
    
</div>
