<!DOCTYPE html>
<body>
    <BR>
        <h1 >
            LIST OF ADDRESSES
        </h1>
        <br>
        <div class="container">
            <a href="/map">
                <button class="addbtn">New address</button>
            </a>

        </div>
        <br>
        <br>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr class="text-center">


                        <th>STREET</th>
                        <th>ZONE</th>
                        <th>NUMBER</th>
                        <th>CITY</th>

                    </tr>
                </thead>
                <tbody>


                    <tr *ngFor="let ad of addresss; let i = index" class="text-center">
                        <td>{{ad.street}}</td>
                        <td>{{ad.zone}}</td>
                        <td>{{ad.h_number}}</td>
                        <td>{{ad.city}}</td>
                        <td></td>
                        <td></td>
                        <td>
                          <button (click)="onClick()" [ngClass]="action =='Add' ? 'btn-primary': 'btn-danger'"> {{action}}</button>
                            <!--<button class="favorite"

                            </span>
                            </button>-->
                        </td>
                        <td>
                            <a href="/editaddress">
                                <button class="btn-warning">
                                    <span class="material-icons">
                                        edit
                                    </span>
                                </button>
                            </a>

                            <button class="btn-danger" style="margin-left:10px ;">
                                <span class="material-icons">
                                    delete_outline
                                </span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

</body>
