<!DOCTYPE html>
<body>
    <BR>
        <h1 >
            ORDERS HISTORY
        </h1>
        <br>
        <br>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr class="text-center">
                        <th>ID</th>
                        <th>TOTAL PAYMENT</th>
                        <th>STATUS</th>
                        <th>TYPE PAYMENT</th>
                        <th>DELIVERY</th>
                        <th>DATE</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let or of order2s;let i= index" class="text-center" >
                        <td>{{or.id_order}}</td>
                        <td>{{or.total_payment}}</td>
                        <td>{{or.order_status_id_order_status}}</td>
                        <td>{{or.type_payment_id_typepay}}</td>
                        <td>{{or.delivery_id_delivery}}</td>
                        <td>{{or.orderdate}}</td>
                    </tr>

                    <tr class="text-center">
                        <td>TOTAL DE PEDIDOS</td>
                        <td>{{count.count}}</td>
                    </tr>

                </tbody>
            </table>
        </div>

</body>
