
.container{
    display: flex;
    justify-content: center;
  }
  table{
    border-radius: 10em;
    border-collapse: separate;
    border-spacing: 100px 4px;
    justify-content: center;
    text-align:center;
    margin: 0 auto;
  }
  .btn-warning{
      text-transform: uppercase;
      letter-spacing: 0.15em;
      border: none;
      font-size: 0.875rem;
      color: #ffffff;
      font-weight: bold;
      background-color: #41fc4a;
      width: 100%;
      display: inline-block;
      padding: 0.875rem 1rem;
      border-radius: 1.5rem;
      cursor: pointer;
    }
    h1{
      font-size: 30px;
      font-weight:bold;
      text-align:center;
    }
    button:hover {
      opacity: 0.7;
    }
    input[type="checkbox"]:checked {
      box-shadow: 0 0 0 3px rgb(255, 255, 255);
    }
  p {
    font-family: Lato;
    
  }
  .btn-back{
    margin-left: 10px;
    align-items: left ;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    border: none;
    font-size: 0.875rem;
    color: #ffffff;
    font-weight: bold;
    background-color: #fc4141;
    width: 10%;
    padding: 0.875rem 1rem;
    border-radius: 1.5rem;
    cursor: pointer;
  }