<div class="editaddress">
    <form class="custom-form" method="post">
      <h1>Edit Address</h1>
      <!-- ********
      <input
        type="nick"
        name="nick"
        placeholder="Nick"
        required="required"
      />
      -->
      <input
        type="street"
        name="street"
        placeholder= {{addresss.street}}
        required="required"
      />
      <input
        type="zone"
        name="zone"
        placeholder={{addresss.zone}}
        required="required"
      />
      <input
        type="number"
        name="h_number"
        placeholder={{addresss.h_number}}
        required="required"
      />

      <input
        type="city"
        name="city"
        placeholder={{addresss.city}}
        required="required"
      />
      <a routerLink="/list-address">
        <button type="submit">Save</button>
      </a>
      <br>
      <a routerLink="/list-address">
        Cancelar
      </a>
    </form>
  </div>
