<h1>Dashboard Admin</h1>
<br>
<router-outlet></router-outlet>
<table class="chartBox">
  <tr>
    <td>
      <h3>
        Most used payment methods
      </h3>
      <canvas id="myChart"></canvas>
    </td>
    <td>
      <h3>
        Graph of sales made per month
      </h3>
      <canvas id="myChart2"></canvas>
    </td>
  </tr>
  <tr>
    <td>
      <h3>
        Sales by business
      </h3>
      <canvas id="myChar3"></canvas>
    </td>
    <td>
      <h3>
        Total orders of the day
      </h3>
      <canvas id="myChar4"></canvas>
    </td>
  </tr>
</table>
