<!DOCTYPE html>
<body>
    <BR>
        <h1 >
            LIST OF ADDRESSES
        </h1>
        <br>
        <div class="container">
            <a href="">
                <button class="addbtn">New address</button>
            </a>

        </div>
        <br>
        <br>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr class="text-center">
                        <th>STREET</th>
                        <th>ZONE</th>
                        <th>NUMBER</th>
                        <th>CITY</th>
                    </tr>
                </thead>
                <tbody>


                    <tr class="text-center">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <a href="/edit-address">
                                <button class="btn-warning">
                                    <span class="material-icons">
                                        edit
                                    </span>
                                </button>
                            </a>

                            <button class="btn-danger" style="margin-left:10px ;">
                                <span class="material-icons">
                                    delete
                                </span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

</body>
