<header>
<div class="container">
  <mat-toolbar>
  <span class="fill-remaining-space">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu" [overlapTrigger]="false">
      <a href="/login" mat-menu-item>
        <mat-icon>account_box</mat-icon>
        <span>Login</span>
      </a>
      <a href="/cart" mat-menu-item>
        <mat-icon>shopping_cart</mat-icon>
        <span>Cart</span>
      </a>
    </mat-menu>
  </span>
    <span class="fill-remaining-space">FAST FOOD</span>
  </mat-toolbar>
</div>
</header>
