<header>
<div class="container">
  <mat-toolbar>
  <span class="fill-remaining-space">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu" [overlapTrigger]="false">
      <a href="/user-profile" mat-menu-item>
        <mat-icon>account_box</mat-icon>
        <span>Perfil</span>
      </a>
      <a href="/cart-page" mat-menu-item>
        <mat-icon>shopping_cart</mat-icon>
        <span>Cart</span>
      </a>
      <a href="/listdirection" mat-menu-item>
        <mat-icon>address</mat-icon>
        <span>Address</span>
      </a>
    </mat-menu>
  </span>
    <span class="fill-remaining-space"></span>
    <span class="fill-remaining-space">FAST FOOD</span>
    <span class="fill-remaining-space"></span>
    <button mat-icon-button class="home" aria-label="Home button">
      <a href="/" mat-icon-button>
        <mat-icon>home</mat-icon>
      </a>

    </button>
  </mat-toolbar>
</div>
</header>
