<!DOCTYPE html>
<body>
    <BR>
        <h1 >
            REPORT DELIVERIES
        </h1>
        <br>
        <br>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr class="text-center">
                        <th>ID</th>
                        <th>BUSINESS</th>
                        <th>CLIENT</th>
                        <th>TOTAL PAYMENT</th>
                        <th>STATUS</th>
                        <th>GAIN</th>
                        <th>DATE</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let or of order2s;let i= index" class="text-center">
                        <td>{{or.id_order}}</td>
                        <td></td>
                        <td></td>
                        <td>{{or.total_payment}}</td>
                        <td>{{or.order_status_id_order_status}}</td>
                        <td></td>
                        <td>{{or.orderdate}}</td>
                    </tr>

                </tbody>
            </table>
        </div>

</body>
