<!DOCTYPE html>
<body>
    <BR>
        <h1 >
            DELIVERY REPORT
        </h1>
        <br>
        <br>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr class="text-center">
                        <th>ID</th>
                        <th>BUSINESS</th>
                        <th>CLIENT</th>
                        <th>TOTAL PAYMENT</th>
                        <th>STATUS</th>
                        <th>GAIN</th>
                        <th>DATE</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let or of order2s;let i= index" class="text-center">
                        <td>{{or.id}}</td>
                        <td>{{or.bussines}}</td>
                        <td>{{or.cliente}}</td>
                        <td>{{or.totalpayment}}</td>
                        <td>{{or.status}}</td>
                        <td>{{or.gain}}</td>
                        <td>{{or.date}}</td>
                    </tr>

                </tbody>
            </table>
        </div>

</body>
