<h1>Dashboard Delivery</h1>
<br>
<router-outlet></router-outlet>
<table class="chartBox">
  <tr>
    <td colspan="2">
      <h3>
        Graph of quantity deliveries of completed orders
      </h3>
      <canvas id="myChart2"></canvas>
    </td>
  </tr>
  <tr>
    <td>
      <h3>
        Completed and canceled orders
      </h3>
      <canvas id="myChar3"></canvas>
    </td>
    <td>
      <h3>
        Total orders of the day
      </h3>
      <canvas id="myChar4"></canvas>
    </td>
  </tr>
</table>
