
<div class="pay-method">
    <form class="custom-form" method="post">
      <h1>Payment method</h1>
      <br>
      <br>
      <div>
        <div class="container">
            <a routerLink="/confirm-dialog">
                <button type="submit">
                    <span class="material-icons">
                        payments
                    </span>
                    PAY CASH
                </button>
              </a>
          </div>
          <div class="container">
            <a routerLink="">
                <button type="submit">
                    <span class="material-icons">
                        credit_card
                    </span>
                     CREDIT CARD
                </button>
              </a>
          </div>
          <div class="container">
            <a routerLink="">
                <button type="submit">
                    <span class="material-icons">
                        paid
                    </span>
                      PAYPAL
                </button>
              </a>
          </div>
      </div>
      <a routerLink="/cart-page">
        Cancel
      </a>
    </form>
  </div>