<!DOCTYPE html>
<body>
    <BR>
        <h1 >
            PENDING PATMENTS
        </h1>
        <br>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr class="text-center">
                        <th>ID_ORDER</th>
                        <th>TOTAL</th>
                        <th>PAYMENT STATUS</th>
                        <th>OPCIONS</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let or of order2s;let i= index" class="text-center">
                        <td>{{or.id_order}}</td>
                        <td>{{or.total_payment}}</td>
                        <td>{{or.order_status_id_order_status}}</td>
                        <td>
                            <a href="/payment-confirmation">
                                <button class="btn-done" (click)="pagoefectivocom(or)">
                                    <span class="material-icons">
                                        done
                                    </span>
                                </button>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

</body>
