<form [formGroup]="addressForm" #ngForm="ngForm" class="form-container">
  <mat-card class="register-card">
    <mat-card-content>
      <div class="header">
        <P  class="title">Register a new direction </P>
      </div>
      <br>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Street</mat-label>
            <input
              name="street"[(ngModel)]="address.street"
              formControlName="street"
              matInput placeholder="Enter Your Street Name">
            <mat-error *ngIf="!addressForm.controls['street'].valid">
             Street Name is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Local Area/Zone</mat-label>
            <input
              name="zone"[(ngModel)]="address.zone"
              formControlName="zone"
              matInput placeholder="Enter Your Local Area/Zone">
            <mat-error *ngIf="!addressForm.controls['zone'].valid">
              Zone is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>House Number</mat-label>
            <input
              name="h_number"[(ngModel)]="address.h_number"
              formControlName="h_number"
              matInput placeholder="Enter Your House Number">
            <mat-error *ngIf="!addressForm.controls['h_number'].valid">
              House Number is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>City</mat-label>
            <input
              name="city"[(ngModel)]="address.city"
              formControlName="city"
              matInput placeholder="Enter Your Actual City">
            <mat-error *ngIf="!addressForm.controls['city'].valid">
              City Name is required
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions align="end">
      <button m (click)="saveAddress()" at-flat-button class="buttonsave">Next Step</button>
    </mat-card-actions>
  </mat-card>
</form>
