<!DOCTYPE html>
<body>
    <h1 >
        SETTINGS
    </h1>
    <hr size="2px" color="black" />
    <br>
    <h3 >
        Configuration
    </h3>
    <hr size="2px" color="black" style="width: 75%;"/>
    <a href="">
        <button class="btn">
            Personal and Account Information
        </button>
    </a>
    <br>
    <br>
    <a href="">
        <button class="btn">
            Password and Security
        </button>
    </a>
    
    <br>
    <br>
    <h3> 
        Preferences
    </h3>
    <hr size="2px" color="black" style="width: 75%;"/>
    <br>
    <a href="/payment-settings">
        <button class="btn">
            Payments
        </button>
    </a>
    <br>
    <br>
    <a href="">
        <button class="btn">
            Notifications
        </button>
    </a>
    <br>
    <br>
    <a href="">
        <button class="btn">
            Idiom
        </button>
    </a>
</body>
